body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ikaros-Sans";
    overflow-x: hidden;
}

.mobileNavbar {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

.navbar .logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

/* Shown NavLinks */
.navbar  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navbar  .nav-links li{
    list-style: none;
}

.navbar  .nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    transition: text-shadow 0.5s;
}

.navbar .nav-links a:hover {
    text-shadow: 0 0 20px  #008aff;
}
/*Hidden Nav Links*/
.navbar  .nav-links-1 {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: -2.2vh;
    background-color: rgba(0, 0, 0, 0.8);

    /*animation of Text*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    padding: 12.5vh 2.5vw;
    box-sizing: border-box;
    background: #000000;
    transform: translateX(100%);
    transition: 0.35s ease-in;

}

.navbar .nav-links-1 li{
    list-style: none;
    opacity: 0;
}

.navbar .nav-links-1 a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    
    font-size: 24px;

    transition: text-shadow 0.5s;
}
.navbar .nav-links-1 a:hover {
    text-shadow: 0 0 20px  #008aff;
}

.navbar .burger{
    display: block;
    cursor: pointer;
}

.navbar .burger div{
    display: block;
    width: 48px;
    height: 2px;
    /*background-color: rgb(226, 226, 226);*/
    margin: 11px;
    border-right: 34px solid #fff;
    border-left: 8px solid #d6d6d6;
    box-sizing: border-box;

    /*For smooth movement of Hamburger*/
    transition:  all 0.3s ease;
}

.navbar .burger div {
    border-right-color: #e9b8b9;
    text-shadow: 0 1px 10px 0 rgba(205, 40, 44, 0.75);
}

.navbar .burger .line2{
    display: block;
    width: 48px;
    height: 2px;
    /*background-color: rgb(226, 226, 226);*/
    margin: 11px;
    border-right: 8px solid #fff;
    border-left: 34px solid #d6d6d6;
    box-sizing: border-box;
    transition:  all 0.3s ease;
}

.navbar .burger .line3 {
    border-right-color: #ddf1da;
    text-shadow: 0 1px 10px 0 rgba(83, 228, 68, 0.65);
}


/*animation of hamburger*/
.navbar .nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*Hamburger animation*/
.navbar .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.navbar .toggle .line2{
    opacity: 0;
}
.navbar .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@media (max-width: 786px) {

    /* Old Navbar Blocked */
    .navbar {
        display: none;
    }

    /* Mobile Navbar on Display */
    .mobileNavbar {
        display: flex;
        justify-content: end;
        align-items: center;
        min-height: 8vh;
        background-color: rgba(0, 0, 0, 0);
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
    }

    /*Hidden Nav Links*/
    .mobileNavbar  .Mnav-links-1 {
        z-index: 1;
        position: absolute;
        right: 0px;
        height: 100vh;
        top: -2.2vh;
        background-color: rgba(0, 0, 0, 0.8);

        /*animation of Text*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 75vw;
        padding: 12.5vh 2.5vw;
        box-sizing: border-box;
        background: #000000;
        transform: translateX(100%);
        transition: 0.35s ease-in;

    }

    .mobileNavbar .Mnav-links-1 li{
        list-style: none;
        opacity: 0;
    }

    .mobileNavbar .Mnav-links-1 a{
        color: rgb(226, 226, 226);
        text-decoration: none;
        letter-spacing: 3px;
    
        font-size: 24px;

        transition: text-shadow 0.5s;
    }
    .mobileNavbar .Mnav-links-1 a:hover {
        text-shadow: 0 0 20px  #008aff;
    }

    .mobileNavbar .burgerMobile{
        z-index: 2;
        display: block;
        cursor: pointer;
    }

    .mobileNavbar .burgerMobile div{
    display: block;
    width: 48px;
    height: 2px;
    /*background-color: rgb(226, 226, 226);*/
    margin: 11px;
    border-right: 34px solid #fff;
    border-left: 8px solid #d6d6d6;
    box-sizing: border-box;

    /*For smooth movement of Hamburger*/
    transition:  all 0.3s ease;
    }

    .mobileNavbar .burgerMobile div {
    border-right-color: #e9b8b9;
    text-shadow: 0 1px 10px 0 rgba(205, 40, 44, 0.75);
    }

    .mobileNavbar .burgerMobile .Mline2{
    display: block;
    width: 48px;
    height: 2px;
    /*background-color: rgb(226, 226, 226);*/
    /* margin: 11px; */
    border-right: 8px solid #fff;
    border-left: 34px solid #d6d6d6;
    box-sizing: border-box;
    transition:  all 0.3s ease;
    }

    .mobileNavbar .burgerMobile .Mline3 {
    border-right-color: #ddf1da;
    text-shadow: 0 1px 10px 0 rgba(83, 228, 68, 0.65);
    }


    /*animation of hamburger*/
    .mobileNavbar .Mnav-active{
    transform: translateX(0%);
    }

    @keyframes MnavLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    }

    /*Hamburger animation*/
    .mobileNavbar .Mtoggle .Mline1{
    transform: rotate(-45deg) translate(-5px, 6px);
    }
    .mobileNavbar .Mtoggle .Mline2{
        opacity: 0;
    }
    .mobileNavbar .Mtoggle .Mline3{
    transform: rotate(45deg) translate(-5px,-6px);
    }

}