.videos {
    height: 100vh;
    width: 100%;
    padding-top: 4vh;
    background: url(video.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
}

.video-Heading {
    font-size: 80px;
    padding-left: 70%;
}
.video-Heading > span {
    position: relative;
}

.video-Heading span::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    height: 2px;
    width: 20%;
    border-bottom: 2px solid #768ad9;
}


/*Body*/

.video-Body {
    width: 80vw;
    height: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2.5% 0;
    box-sizing: border-box;

    flex-direction: column;
    margin: 0 5%;
    
}

/*Card details*/
.thumbnails {
    margin-top: 2vh;
    height: 25vh;
    width: 120%;
}

/*Card information*/
.details {
    display: inline-block;
    font-size: 28px;
    color: white;
    align-items: center;
    
}
.details-Heading {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 4% 0;
    letter-spacing: 1.2px;
}

.details > .details-Heading > a {
    padding-bottom: 3%;
    border-bottom: #768ad9 3px solid;
    white-space: nowrap;
}

.video-box  a{
    text-align: center;
    text-shadow: 0 0 25px #768ad9;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

@media (max-width: 786px) {
    .videos {
        height: auto;
    }

    .video-Heading {
        font-size: 40px;
        padding-left: 60%;
    }

    .video-Body {
        flex-wrap: inherit;
    }
}